@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.geosearch {
  width: 15vw;
  background-color: white;
  padding: 10px;
  color: black;
}

/* .open {
  background: rgba(255, 255, 255, 1);
} */

.glass {
  width: 95%;
  height: 35px;
  font-size: large;
  color: black;
}
.results.active {
  cursor: pointer;
  font-size: medium;
  max-height: 25vh;
  overflow-y: scroll;
}

.results.active div {
  padding: 5px;
}

.results.active div:hover {
  background: rgba(124, 126, 189, 0.5);
}